<!DOCTYPE html> 
<html lang="en-GB">
    <%=css :styles %>
    <body class='container'>
        <header>
            <nav>
                <ul>
                    <li> <a href="/" title="Home" class=<%=current?%>>Home</a></li> 
                    <li> <a href="/about" title="About" class=<%=current?("/about")%>>About</a></li> 
                    <li> <a href="/contact" title="Contact" class<%=current?("/contact")%>>Contact</a></li> 
                    <li><a href="/logout" title="Logout" class=<%current?("logout")%>>Logout</a></li>
                </ul>
            <nav>
        </header>
        <%= yield %>
    </body>
</html>